<!-- main/templates/main/army_edit.html -->
{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" charset="utf-8">
    var coll = document.getElementsByClassName("section small");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
<section class="hero is-link is-large">
    <div class="hero-body">
        <p class="title">
            {{ army.name }}
        </p>
        <p class="subtitle">
            {{ army.version }}
        </p>
    </div>
</section>

<section class="section small">
    <h1 class="title">Army specific rules</h1>
</section>

<section class="section small">
    <h1 class="title">Models specific rules</h1>
</section>

<section class="section small">
    <h1 class="title">Hereditary spell</h1>
</section>

<section class="section small">
    <h1 class="title">Special Items</h1>
</section>

<section class="section small">
    <h1 class="title">Army organisation</h1>
</section>

<div class="columns is-flex-direction-column">


    {% for category in army.armyOrganisation.categories %}


    <div class="block">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                 alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <input class="input" type="text" name="name" id="name" placeholder="{{ category.name }}"/>
                        <input class="input" type="text" name="value" id="value" placeholder="{{ category.value }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<section class="section small">
    <h1 class="title">Units</h1>
</section>

{% endblock content %}